
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="style.css" type="css"/>

</head>
<body background="background.png" >

<h1 style="color:aquamarine;">WELCOM TO MY APP WEATHER</h1>
<br/>
<form id="form-style" method="POST" action="/">
    <input id="city-input" type="text" name ="cityName" placeholder="Type your city"/><br/>
    <input id="button" type="submit" value="Get Weather" name="submit"/>
</form>



</body>
</html>